[submodule "libs/lmdb"]
	path = libs/lmdb
	url = https://github.com/LMDB/lmdb.git
	branch = mdb.master
[submodule "libs/binn"]
	path = libs/binn
	url = https://github.com/liteserver/binn.git
[submodule "libs/openssl/openssl"]
	path = libs/openssl/openssl
	url = https://github.com/pol51/OpenSSL-CMake.git
